[submodule "www/drupal7/sites/all/modules/custom/oii"]
	path = www/drupal7/sites/all/modules/custom/oii
	url = git@github.com:rgoodie/oii.git
[submodule "www/drupal7/sites/all/modules/-f"]
	path = www/drupal7/sites/all/modules/-f
	url = git@github.com:rgoodie/oii.git
